

.BtnA {
            margin: 20px;
            width: 500px;
            height: 75px;
            border-Radius: 10px; 
            border: none;
            background-Color: rgb(211, 71, 53);
            color: white;
            font-Size: 30px;
}

.BtnB {
    margin: 20px;
            width: 500px;
            height: 75px;
            border-Radius: 10px; 
            border: none;
            background-Color: rgb(211, 71, 53);
            color: white;
            font-Size: 30px;
}

.BtnC {
    margin: 20px;
            width: 500px;
            height: 75px;
            border-Radius: 10px; 
            border: none;
            background-Color: rgb(211, 71, 53);
            color: white;
            font-Size: 30px;
}

.BtnD {
    margin: 20px;
            width: 500px;
            height: 75px;
            border-Radius: 10px; 
            border: none;
            background-Color: rgb(211, 71, 53);
            color: white;
            font-Size: 30px;
}

